.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  width: 20px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a{
  text-decoration: none;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  display: flex;
  justify-content:center;
 padding: 2%;
  height: 20%;
  width: 96%;
  
}
h2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(70, 69, 69);
}
.signbox {
  display: inline-flex;
  width: 45%;
  border-color: rgb(255, 215, 215);
  border: thick double rgb(255, 215, 215);
  margin: 10px;
  margin-top: 2%;
  justify-content: center;
}

.navhome {
  display: inline;
 margin : 2%;
 margin-top: 5%;
  
}
.navhome:hover{
  font-weight: bolder;
  color:black;
}
.item {
  margin: 10px;
}

form {
  text-align: left;
  margin: 20px;
  padding: 20px;
}

label {
  display: block;
  width: 150px;
  float: left;
}

input {
  margin-left: 20px;
  border-color: rgb(255, 215, 215);
}

button {
  background-color: rgb(255, 215, 215);
  height: 25%;
  width: 50%;
  border-radius: 30px;
  border-color: rgb(255, 215, 215);
  border-style: solid;
  box-shadow: 2px 2px 4px 4px rgb(218, 179, 179);
  position: relative;
  margin-top: 20px;
  text-align: center; 
  font-size: medium;
  font-weight: 900;
  color: rgb(253, 45, 1);
  text-decoration: none;
  margin-left: 25%;
  align-content: center;
}



.cards {
  display: flex;
  margin:10%;
  border-color: rgb(255, 215, 215);
  border-style: groove;
  height: fit-content;
  flex-direction: column;
  flex-wrap: wrap;

}

.addArticle {
  display: flex;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
 
  align-self: flex-end;
  
}

textarea{
  height: fit-content;
}
.author{
  display: flex;
  margin: 10px;
}

.photoProfil {
  height: 40px;
  width: 40px;
  padding-right: 10px;
}

.publier {
  display: flex;
  align-self: flex-end;
  width: auto;
  height: auto;
  margin: 10px;
  
}